@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



h1{
                text-align: center;
}

:root {
    --cor-primaria: #1e3a8a;   /* azul escuro */
    --cor-secundaria: #3b82f6; /* azul médio */
    --cor-destaque: #facc15;   /* amarelo principal */
    --cor-hover: #eab308;      /* amarelo mais forte */
    --cor-fundo: #f9fafb;      /* fundo claro */
    --cor-texto: #111827;      /* texto escuro */
}

body{
                background-color: var(--cor-destaque);
                font-family: "Lato";
                height: 100vh;
}

header{
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 1rem;
                flex-wrap: wrap;
                padding: .8rem;
                background-color: var(--cor-secundaria);
}

box-img{
                max-width: 60px;
                height: 100%;
}
.nav-links{
                text-decoration: none;
                color: var(--cor-fundo);
}